---
import BlogPostList from '../../components/BlogPostList.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout>
  <h1 class="text-center">Blog</h1>
  <BlogPostList />
</BaseLayout>
