---
import BlogPostList from '../components/BlogPostList.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <h1 class="text-6xl text-center">Blog</h1>
  <BlogPostList />
</BaseLayout>
