---
---

<head>
  <script>
    let form = document.getElementById('contact-form') as HTMLFormElement;

    form.addEventListener('submit', (e) => {
      const formData = new FormData(e.target as HTMLFormElement);

      const name = formData.get('name');
      const email = formData.get('email');
      const message = formData.get('message');

      // form.reset();
    });
  </script>
</head>

<div
  class="border border-[#1E2D3D] bg-[#222233] px-8 py-16 mt-8 flex items-center md:space-x-12 flex-col md:flex-row"
  style="background-image: url('/image.svg'); background-size: cover;"
>
  <div class="md:flex-1 text-5xl text-left">
    <p>Drop me a line.<br />I would like to hear from you.</p>
  </div>
  <form
    id="contact-form"
    class="mt-12 md:flex-1 flex flex-col items-start w-full"
    onsubmit="return false;"
  >
    <h3 class="text-4xl font-medium">_getInTouch()</h3>
    <label for="name" class="mt-6">Name</label>
    <input
      id="name"
      name="name"
      type="text"
      placeholder="Name"
      class="w-full py-2 px-4 border-[#A478E8] border bg-[#232339] rounded-sm mt-2"
      required
    />
    <label for="email" class="mt-4">Email</label>
    <input
      id="email"
      name="email"
      type="email"
      placeholder="Email"
      class="w-full py-2 px-4 bg-[#232339] border-[#A478E8] border rounded-sm mt-2"
      required
    />
    <label for="message" class="mt-4">Message</label>
    <textarea
      id="message"
      name="message"
      placeholder="Message"
      class="w-full py-2 px-4 mt-2 bg-[#232339] border-[#A478E8] border rounded-sm"
      rows="5"
      required></textarea>
    <button type="submit" class="btn-primary mt-8">Send Message</button>
  </form>
</div>
