---
interface Props {
  center?: boolean;
}

const { center } = Astro.props;
---

<div
  class={`flex space-x-4 pt-12 items-center justify-center ${
    center ? "md:justify-center" : "md:justify-start"
  }`}
>
  <a class="btn-primary" href="#contact">Contact</a>
</div>
