---
import { Sprite } from "astro-icon";
---

<head>
  <!-- Hamburger Menu Script -->
  <script>
    document.querySelector("#hamburger").addEventListener("click", () => {
      const nav = document.querySelector("#navlinks");
      const hamburger = document.querySelector("#hamburger");
      const bars = hamburger.getElementsByTagName("span");
      const barStyles = { active: "bg-gray-300", default: "bg-[#7790a8]" };
      const hamburgerContainerStyles = {
        active: "border-gray-300",
        default: "border-[#7790a8]",
      };

      if (nav.classList.contains("hidden")) {
        nav.classList.remove("hidden");
        hamburger.classList.add(hamburgerContainerStyles.active);
        hamburger.classList.remove(hamburgerContainerStyles.default);
        for (const bar of bars) {
          bar.classList.add(barStyles.active);
          bar.classList.remove(barStyles.default);
        }
      } else {
        nav.classList.add("hidden");
        hamburger.classList.remove(hamburgerContainerStyles.active);
        hamburger.classList.add(hamburgerContainerStyles.default);
        for (const bar of bars) {
          bar.classList.add(barStyles.default);
          bar.classList.remove(barStyles.active);
        }
      }
    });
  </script>
  <!-- Intersection Observer Script -->
  <script>
    const hrefsNotIndex = {
      "#hello": "/",
      "#about": "/#about",
      "#projects": "/#projects",
      "#blog": "/blog/",
      "#contact": "/#contact",
    };

    if (window.location.pathname.includes("/blog")) {
      document.querySelector('[href="#blog"]').classList.add("active");
    }

    if (window.location.pathname != "/") {
      Object.keys(hrefsNotIndex).forEach((key) => {
        (document.querySelector(`[href="${key}"]`) as any).href =
          hrefsNotIndex[key];
      });
    }

    // init observer
    const callback: IntersectionObserverCallback = (entries, observer) => {
      entries.forEach((entry) => {
        console.log(entry.target.id);
        if (entry.isIntersecting && entry.intersectionRatio >= 0.51) {
          // remove old active class
          const lastActiveElement = document.querySelectorAll(".active");
          if (lastActiveElement)
            lastActiveElement.forEach((el) => el.classList.remove("active"));
          // find matching link & add appropriate class
          const id = entry.target.id;
          document
            .querySelectorAll(`[href="#${id}"]`)
            .forEach((el) => el.classList.add("active"));
        }
      });
    };

    const observer = new IntersectionObserver(callback, {
      threshold: 0.51,
      rootMargin: "54px",
    });

    // target the elements to be observed
    const sections = [
      document.querySelector("header"),
      ...document.querySelectorAll("section"),
    ];

    // observe all target elements
    sections.forEach((section) => {
      if (section) observer.observe(section);
    });
  </script>
</head>

<nav
  class="fixed z-50 w-full border-b border-[#1E2D3D] text-[#7790a8] bg-[#232339]"
>
  <ul
    class="container flex flex-col lg:flex-row justify-between mx-auto relative"
  >
    <li class="border-x border-[#1E2D3D] px-8 py-4">
      <a href="/">tim neubauer</a>
    </li>

    <li
      id="navlinks"
      class="hidden border-x border-[#1E2D3D] lg:block lg:border-x-0"
    >
      <ul
        class="flex flex-col lg:flex-row px-8 pb-4 lg:py-4 space-y-1 lg:space-y-0 lg:space-x-8"
      >
        <li class="">
          <a href="#hello" class="flex items-center"
            ><Sprite
              name="bi:chevron-compact-right"
              class="h-4 w-4 lg:hidden"
            /> _hello</a
          >
        </li>
        <li class="">
          <a href="#about" class="flex items-center"
            ><Sprite
              name="bi:chevron-compact-right"
              class="h-4 w-4 lg:hidden"
            /> _about-me</a
          >
        </li>
        <li class="">
          <a href="#projects" class="flex items-center"
            ><Sprite
              name="bi:chevron-compact-right"
              class="h-4 w-4 lg:hidden"
            /> _projects</a
          >
        </li>
        <li class="">
          <a href="#blog" class="flex items-center"
            ><Sprite
              name="bi:chevron-compact-right"
              class="h-4 w-4 lg:hidden"
            /> _blog</a
          >
        </li>
        <li class="lg:hidden">
          <a href="#contact" class="flex items-center"
            ><Sprite name="bi:chevron-compact-right" class="h-4 w-4" /> _contact-me</a
          >
        </li>
      </ul>
    </li>
    <li
      id="hamburger"
      class="p-2 w-fit cursor-pointer absolute right-6 top-2 lg:hidden rounded-sm"
    >
      <div class="space-y-[0.3rem]">
        <span class="block w-5 h-0.5 bg-[#7790a8]"></span>
        <span class="block w-5 h-0.5 bg-[#7790a8]"></span>
        <span class="block w-3 h-0.5 bg-[#7790a8] ml-auto"></span>
      </div>
    </li>
    <li class="px-8 py-4 hidden lg:block border-r border-[#1E2D3D]">
      <a href="#contact">_contact-me</a>
    </li>
  </ul>
</nav>
