---
import { Sprite } from 'astro-icon';
import Navbar from '../components/Navbar.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://cache.timneubauer.dev/fonts/fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cache.timneubauer.dev/fonts/fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Astro</title>
    <style is:global>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      html {
        font-family: 'Fira Code';
        color: #e5e9f0;
        scroll-padding-top: 8rem;
      }

      section {
        margin: 12rem 0;
      }

      section:last-of-type {
        margin-top: 12rem;
        margin-bottom: 0;
      }

      #projects-list:last-child {
        border: none;
      }

      pre {
        background-color: #1e1e30 !important;
        padding: 1rem 2rem;
      }
      input,
      textarea {
        @apply outline-pink-500;
      }

      h1 {
        @apply text-6xl;
      }

      h2 {
        @apply text-5xl font-medium;
      }

      .subheading {
        @apply text-3xl;
      }

      h3 {
        @apply text-4xl font-medium;
      }

      a:hover {
        color: #e5e9f0;
      }

      .blog p {
        margin-block-start: 1rem !important;
        margin-block-end: 1rem !important;
      }

      .active {
        color: #e5e9f0;
      }

      .text-gradient {
        background: -webkit-linear-gradient(90deg, #a478e8 0%, #516cf7 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .comment {
        color: #7790a8;
        font-weight: 400;
      }

      .icon svg {
        width: 1rem;
        height: 1rem;
      }

      .showcase {
        max-width: calc(4 * 4rem + 3 * 4rem);
      }

      .showcase svg {
        width: 4rem;
        height: 4rem;
      }

      .btn-primary {
        @apply rounded-sm bg-gradient-to-r from-[#A478E8] to-[#516CF7] py-2 px-6 text-white;
      }
    </style>
  </head>
  <body class="bg-[#232339]">
    <Sprite.Provider>
      <Navbar />
      <main class="container mx-auto py-40"><slot /></main>
      <footer
        class="fixed bottom-0 flex border-t border-[#1E2D3D] text-[#7790a8] bg-[#232339] w-full"
      >
        <div class="container mx-auto flex justify-between items-center">
          <div class="border-x border-[#1E2D3D] flex">
            <p class="px-8 py-4 flex items-center">
              find me at:
              <a href="" class="icon ml-2"
                ><Sprite name="akar-icons:twitter-fill" />
              </a>

              <a href="" class="icon ml-2"
                ><Sprite name="akar-icons:github-fill" />
              </a>
            </p>
          </div>
          <p class="">
            <a
              class="flex py-4 items-center"
              href="mailto:hello@timneubauer.dev"
            >
              hello@timneubauer.dev <Sprite
                name="clarity:email-solid"
                class="w-4 h-4 ml-2"
              />
            </a>
          </p>
        </div>
      </footer>
    </Sprite.Provider>
  </body>
</html>
