---
import '../styles.css'
import { Sprite } from 'astro-icon'
import Navbar from '../components/Navbar.astro'
import { socials } from '../constants/socials'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- fonts -->
    <link
      href="https://cache.timneubauer.dev/fonts/fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />
    <link rel="manifest" href="/favicons/site.webmanifest" />
    <link rel="shortcut icon" href="/favicons/favicon.ico" />

    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-config" content="/favicons/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <!-- seo -->
    <title>Tim Neubauer | Full Stack Engineer</title>
    <meta
      name="description"
      content="Certified Full Stack Engineer based in Germany with a passion for the
    cutting edge."
    />
    <script
      async
      src="https://umami.timneubauer.dev/script.js"
      data-website-id="faffdc28-b629-4c72-9408-720f6c2f50ba"></script>
  </head>
  <body class="bg-[#232339] font-fira">
    <Sprite.Provider>
      <Navbar />
      <div class="container mx-auto px-4 md:px-0 py-40"><slot /></div>
      <footer
        class="fixed bottom-0 flex border-t border-[#1E2D3D] text-[#7790a8] bg-[#232339] w-full">
        <div
          class="container mx-auto px-8 border-x sm:border-x-0 sm:px-0 border-[#1E2D3D] flex flex-col sm:flex-row justify-between items-start sm:items-center">
          <div class="sm:border-x sm:border-[#1E2D3D] flex">
            <p class="sm:px-8 pt-2 sm:py-4 flex items-center">
              find me at:
              <a href={socials.twitter} class="icon ml-2"
                ><Sprite name="akar-icons:twitter-fill" />
              </a>

              <a href={socials.github} class="icon ml-2"
                ><Sprite name="akar-icons:github-fill" />
              </a>
            </p>
          </div>
          <p class="">
            <a
              class="flex sm:px-8 py-2 sm:py-4 items-center sm:border-r border-[#1E2D3D] font-size-"
              href="mailto:hello@timneubauer.dev">
              hello@timneubauer.dev <Sprite name="clarity:email-solid" class="w-4 h-4 ml-2" />
            </a>
          </p>
        </div>
      </footer>
    </Sprite.Provider>
  </body>
</html>
